.App {
  text-align: center;
}

.App-logo {
  position: fixed;
  left: 20px;
  top: 20px;
  height: 85px;
  width: 160px;
  vertical-align: middle;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.App-body {
  background-color: #ced4da;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #737373;
  font-size: 16px;
  padding: 30px;
  border-color: #34B232;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-group-prepend.sum-passengers{
  cursor: pointer;
}

.form-control[readonly].sum-passengers{
  background-color: #FFFFFF;
}

.date-picker-form{
  position: relative;
  flex: 1 1;
  min-width: 0;
  margin-bottom: 0;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.pagination.justify-content-center.flights-bar p,
.pagination.justify-content-center.flights-bar label{
  margin: 0px;
  line-height: 20px;
}
.pagination.justify-content-center.flights-bar label{
  line-height: 0px;
}

.flights-bar .page-link{
  height: 85px;
  vertical-align: middle;
  background-color: #FFFFFF;
}

.noFlights{
  color: #FFFFFF;
}

.flights-info{
  cursor: pointer;
}